+++
title = "The Good Docs Project"
linkTitle = "The Good Docs Project"

+++

{{< blocks/cover title="Welcome to The Good Docs Project" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/thegooddocsproject/templates">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Templates and writing instructions for better open source documentation!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Every project deserves a minimum level of Good Docs that help users understand and solve problems with your product. But it can be really hard to know where to start or what to write. How do you structure docs? What does a docs website look like? How do I keep docs consistently formatted? The list of questions far outweigh the answers.

That’s where The Good Docs Project fits in. Our open-source Minimum Viable Docset (MVD) will help you create a baseline set of Good Docs using a suite of templates.

Your Good Docs can then be extended into Better Docs with greater depth, quality and maturity.

Providing writing templates:

* Amplifies the writing effectiveness of developers, power users writers, and more.
* Improves doc quality and consistency across the board.
* Facilitates the democratization of knowledge.
* Leads to self-empowerment and the betterment of humankind.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Latest versions" %}}
* The [0.1 alpha straw-man release of templates](https://github.com/thegooddocsproject/templates/releases/tag/v0.1) was released at the 2019 Write The Docs - Australia conference.
* The latest development version of templates are available from the [github master branch](https://github.com/thegooddocsproject/templates).

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/thegooddocsproject" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/thegooddocs" %}}
For the latest template releases and updates.
{{% /blocks/feature %}}


{{< /blocks/section >}}







